<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="blog">
  <meta name="keyword" content="rails ruby">
  <meta name="author" content="wuyang">

  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">博客首页</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ><%= link_to "文章","/list" %></li>
            <li><%= link_to "评论", "/comments" %></li>
            <li><%= link_to "帮助", "/help" %></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">试验场 <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><%= link_to "暂无", "/index"%></li>
                <li><%= link_to "暂无", "/index"%></li>
                <li><%= link_to "暂无", "/index"%></li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "关于我", "/about" %></li>
            <li><%= link_to "注册", "/signin" %></li>
            <li><%= link_to "登录", "/signup" %></li>
          </ul>
        </div>
      </div>
    </nav>

<%= yield %>

 <footer class="footer">
      <div class="container">
        <p>Powered by <%= link_to "Bootstrap" ,"http://getbootstrap.com" %> and <%= link_to "Rails","www.rubyonrails.org" %>. All Rights Reserved!</p>
      </div>
      <div class="beian">
      	<%= link_to "豫ICP备15011987号","http://www.miitbeian.gov.cn" %>
      </div>
    </footer>
</body>
</html>
